
@media screen and (max-width: 1200px) {
  .main {
    border: none;
  }

  .aboutme {
    display: grid;
    grid-template-rows: auto auto;

    .main-data {
      padding: 20px;
      border-right: none;

      label {
        color: white;
      }

      .avatar {
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;
        img {
          display: flex;
          justify-content: center;
          border-radius: 50%;
          height: 220px;
          width: calc(100% - 1px);
          max-width: 280px;
          margin-bottom: 20px;
          box-shadow:
            inset 0 0 50px #fff,      /* inner white */
            inset 20px 0 80px #f0f,   /* inner left magenta short */
            inset -20px 0 80px #0ff,  /* inner right cyan short */
            inset 20px 0 300px #f0f,  /* inner left magenta broad */
            inset -20px 0 300px #0ff, /* inner right cyan broad */
            0 0 50px #fff,            /* outer white */
            -10px 0 80px #f0f,        /* outer left magenta */
            10px 0 80px #0ff;
        }

        .display-field {
          padding: 10px;
          border-bottom: 1px solid var(--primary-text-color);

          h2 {
            text-align: center;
            color: #fff;
            text-shadow:
            0 0 7px #9d00ff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #9d00ff, 0 0 82px #9d00ff, 0 0 92px #0b08ff, 0 0 102px #0423ff, 0 0 151px #0014ff;
          }
        }
      }
    }

    .secondary-data {
      .text-area {
        text-align: center;
        margin: 20px 20px;

        label {
          font-size: 25px;
          color: white;
          font-weight: 600;
        }
      }

      .work-and-studying {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;

        a {
          cursor: pointer;
          padding: 4px 5px;
        }

        label {
          font-size: 15px;
          color: white;
        }

        .display-field {
          display: flex;
          margin-top: 20px;
          p {
            margin: 0;
            padding: 4px 5px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1201px) {

  .main {
    border: 3px solid var(--primary-text-color);
    border-radius: 25px;
  }

  .aboutme {
    display: grid;
    grid-template-columns: 30% auto;

    .main-data {
      padding: 30px;
      border-right: 1px solid var(--primary-text-color);

      label {
        color: white;
      }

      .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          border-radius: 50%;
          height: 280px;
          width: 280px;
          box-shadow:
            inset 0 0 50px #fff,      /* inner white */
            inset 20px 0 80px #f0f,   /* inner left magenta short */
            inset -20px 0 80px #0ff,  /* inner right cyan short */
            inset 20px 0 300px #f0f,  /* inner left magenta broad */
            inset -20px 0 300px #0ff, /* inner right cyan broad */
            0 0 50px #fff,            /* outer white */
            -10px 0 80px #f0f,        /* outer left magenta */
            10px 0 80px #0ff;
        }

        .content {
          width: 100%;
        }

        .display-field {
          padding: 10px;
          border-bottom: 1px solid var(--primary-text-color);

          h2 {
            text-align: center;
            // text-shadow: 3px 2px #0a6fea;
            color: #fff;
            text-shadow:
            0 0 7px #9d00ff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #9d00ff, 0 0 82px #9d00ff, 0 0 92px #0b08ff, 0 0 102px #0423ff, 0 0 151px #0014ff;
          }
        }
      }
    }

    .secondary-data {
      .text-area {
        text-align: center;
        margin: 30px 20px;

        label {
          font-size: 25px;
          color: white;
          font-weight: 600;
          text-shadow: 2px 2px var(--primary-text-color);
        }
      }

      .work-and-studying {
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;

        a {
          cursor: pointer;
          padding: 4px 5px;
        }

        label {
          font-size: 20px;
          color: white;
        }

        .display-field {
          display: flex;
          margin-top: 20px;
          p {
            margin: 0;
            padding: 4px 5px;
          }
        }
      }
    }
  }
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
