
<div class="main">
  <div class="aboutme">
    <div class="main-data">
      <div class="avatar">
        <img src="../../../assets/photos/329144905_166982932353923_2405781123782939465_n-removebg-preview.png" alt="photo">
        <div class="content" style="width: 100%;">
          <div class="display-field">
            <label for="name">Name: </label>
            <h2>Michał</h2>
          </div>
          <div class="display-field">
            <label for="name">Lastname: </label>
            <h2>Ławinski</h2>
          </div>
          <div class="display-field">
            <label for="name">Birthday: </label>
            <h2>02.07.2001</h2>
          </div>
          <div class="display-field">
            <label for="name">Live: </label>
            <h2>Gliwice</h2>
          </div>
          <div class="display-field">
            <label for="email">E-mail: </label>
            <h2>michrarr@gmail.com</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-data px-5">
      <p-panel class="p-5" header="Description" [toggleable]="true" iconPos="end">
          <p class="p-3" style="color: white">I am studying in Silesian University Of Technology, in the faculty of Automatic Control, Electronics and Computer Science. I major in Computer Science and I am a third year undergraduate. Currently working as a full stack developer in ENTE Sp.z.o.o company in languages like: TypeScript, JavaScript, Java. I am interesting in this field of IT and I would like to develop in this way. I am open to job offers in Frontend/Backend/Fullstack Developer.
          </p>
      </p-panel>
      <div class="work-and-studying grid">
        <div class="work-place col" style="width: 100%">
          <p-panel class="p-5" header="Workplace" [toggleable]="true" iconPos="end">
            <div class="work-place-data p-3">
              <div class="display-field">
                <label for="work-place">Company: </label>
                <a (click)="onUrlClick('https://ente.com.pl/')">
                  ENTE Sp. z o.o.
                </a>
              </div>
              <div class="display-field">
                <label for="date">Date of admission:</label>
                <p>01.07.2022</p>
              </div>
              <div class="display-field">
                <label for="experience">Experience:</label>
                <p>Junior</p>
              </div>
              <div class="display-field">
                <label for="position">Position:</label>
                <p>Fullstack Developer</p>
              </div>
              <div class="display-field" style="justify-content: center;">
                <a (click)="onUrlClick('https://ente.com.pl/')">
                  <img src="https://ente.com.pl/static/images/logo.png" alt="">
                </a>
              </div>
            </div>
          </p-panel>
      </div>
      <div class="studying-place col" style="width: 100%">
        <p-panel class="p-5" header="Studying" [toggleable]="true" iconPos="end">
          <div class="studying-place-data p-3">
            <div class="display-field">
              <label for="university">University:</label>
              <a (click)="onUrlClick('https://www.polsl.pl/rau/')">
                Silesian University of Technology
              </a>
            </div>
            <div class="display-field">
              <label for="faculty">Faculty:</label>
              <p>Automation, Electronics and Information Technology</p>
            </div>
            <div class="display-field">
              <label for="field">Field:</label>
              <p>Information technology</p>
            </div>
            <div class="display-field">
              <label for="level">Level:</label>
              <p>Undergraduate</p>
            </div>
            <div class="display-field">
              <label for="year">Year:</label>
              <p>3</p>
            </div>
            <div class="display-field" style="justify-content: center;">
              <a (click)="onUrlClick('https://www.polsl.pl/rau/')">
                <img src="https://www.polsl.pl/wp-content/uploads/2021/03/logo-ps-white.svg" alt="">
              </a>
            </div>
          </div>
        </p-panel>
      </div>
      </div>
    </div>
  </div>
</div>
