<div class="body">
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="main">
    <div class="main-content">
      <div class="text">
        <h2>Hello!</h2>
        <p>I would you welcome you in my website. This is project conceived and made only by my. I did it for myself and for prove my experience in web developer skills.</p>
      </div>
      <div class="image">
        <img src="https://images.unsplash.com/photo-1557701472-b7ea9af8aa9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXRodW1ibmFpbHx8MzUyNzM5NXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=420&q=60" alt="photo">
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
