<div class="footer">
  <div class="links">

    <div class="link">
      <i class="pi pi-facebook"></i>
      <label for="fb">Facebook</label>
    </div>

    <div class="line"></div>

    <div class="link">
      <i class="pi pi-instagram"></i>
      <label for="ig">Instagram</label>
    </div>

    <div class="line"></div>

    <div class="link">
      <i class="pi pi-linkedin"></i>
      <label for="ln">Linkedin</label>
    </div>

    <div class="line"></div>

    <div class="link">
      <i class="pi pi-github"></i>
      <label for="github">Github</label>
    </div>
  </div>
</div>
