<div class="footer">
  <div class="links">

    <div class="link" (click)="onUrlClick('https://www.facebook.com')">
      <i class="pi pi-facebook"></i>
      <label for="fb">Facebook</label>
    </div>

    <div class="line"></div>

    <div class="link"  (click)="onUrlClick('https://www.instagram.com')">
      <i class="pi pi-instagram"></i>
      <label for="ig">Instagram</label>
    </div>

    <div class="line"></div>

    <div class="link" (click)="onUrlClick('https://www.linkedin.com/in/michał-ławinski-64663123b/?original_referer=')">
      <i class="pi pi-linkedin"></i>
      <label for="ln">Linkedin</label>
    </div>

    <div class="line"></div>

    <div class="link" (click)="onUrlClick('https://github.com/Drigix')">
      <i class="pi pi-github"></i>
      <label for="github">Github</label>
    </div>
  </div>
</div>
